<%- include('./partials/header.ejs', { titlePage: 'Create Event', pageStyle: 'createEvents.css' }) %>


<div class="header">
    <a href="/home">
        <i class="fa-solid fa-arrow-left" style="color: #0c0c0f"> </i>
    </a>
</div>

<div>
    <form action="/confirmCreateEvent" id="formEvent" enctype="multipart/form-data" method="POST">
        <h1>New Event</h1>
        <div class="form">
            <div class="primary__rows">
                <input type="text" id="title" name="title" min="3" max="100" value="" required placeholder="TITLE">
                
                <textarea id="description" name="description" cols="50" rows="4" maxlength="100" style="resize: none;" value="" required placeholder="DESCRIPTION"></textarea>
                
                <select name="day" id="day" required placeholder="SELECT DAY">
                    <option disabled selected hidden value="">Week day</option>
                    <% for(let i = 0; i < weekDay.length; i++) {%>
                        <option value="<%- weekDay[i] %>">
                            <%- weekDay[i] %>
                        </option>
                        <% } %>
                </select>
            </div>

            <div class="second__rows-column">
                <input type="text" id="location" max="50" name="location" required placeholder="LOCATION">
                    
                <input type="number" id="price" name="price" required placeholder="PRICE">
                    
                    
                <div class="select__image">
                    <label for="image">Select Image:</label>
                    <input type="file" id="image" class="image" name="image" accept="image/*" >
                </div>
            </div>

            <div class="hora__date">
                <div class="horaStart">
                    <label for="time_start">Time start:</label>
                    <input type="time" id="time_start" name="time_start" required>
                </div>
            
                <div class="date">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required >
                </div>
            </div>
            
            
            <button type="submit" id="createEventButton">Create</button>
        </div>
    </form>
</div>

<%- include('./partials/footer.ejs') %>