<%- include('./partials/header.ejs', { titlePage: 'Login', pageStyle: 'login.css' }) %>

<h1>Log in</h1>
<form action="" method="POST" id="form">
    <label for="username">User:</label>
    <input type="text" placeholder="User" max="50" id="username" class="user" name="username">
    <label for="passsword">Password:</label>
    <input type="password" placeholder="Password" max="50" id="password" class="pass" name="password">
    <button type="submit" class="btn-login">LOG IN</button>
</form>
<script>

    // const form = document.getElementById("form").addEventListener('submit', ev =>{
    //     ev.preventDefault();
    //     window.location.href = '/home';
    // })

</script>
<%- include('./partials/footer.ejs') %>