.container__error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    height: 50%;
    padding: 20px;
    gap: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container__body-error{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__error{
    color: #000;
    font-size: 4em;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    list-style: none;
    padding: 5px;
}

.text__error-2{
    color: #000;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;;
    font-weight: 500;
    list-style: none;
    padding: 5px;
}

.text__back a{
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #000000;
}

.text__back a:hover{
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    transition: .8s ease-in-out;
}

span{
    color: #8b8b8b;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}