<%- include('./partials/headerStart.ejs') %>
<title>Example ejs page</title>
<link rel='stylesheet' type='text/css' media='screen' href='./styles/example.css'>
<%- include('./partials/headerEnd.ejs') %>

    <h1>Ejemplo con EJS</h1>

<%- include('./partials/footer.ejs') %>