.button{
    border: none;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    color:#000;
  }

  .button:hover{
    cursor: pointer;
  }

  .header__icon{
    width: 40px;
    height: 40px;
    stroke-width:1.5;
  }

  .header__icon:hover{
    color: #4d4d4d;
  }

  @media (max-width: 500px){
    .header__icon{
      width: 32px;
      height: 32px;
    }
  }