*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-list-style:none;
}

:root{
    --primary:#FFFFFF;
    --text:#000;
}

body{
    background-color: var(--primary);
    list-style: none;
    -webkit-list-style:none;
}
