html{
    scroll-behavior: smooth;
}

section{
    padding-block:100px ;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    gap: 100px;
    padding: 100px 0px 100px;
    border-bottom: 1px #000 solid;
}

.contact__title{
    color: #000;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container__contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.contact__map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.a__mapview{
    color: #000;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

input[type="text"]{
    border: none;
    border-bottom: 2px #000 solid;
    width: 100%;
    height: 50px;
    font-size: 1.5em ;
}

input[type="mail"]{
    border: none;
    border-bottom: 2px #000 solid;
    width: 100%;
    height: 50px;
    font-size: 1.5em ;
}

textarea{
    border: none;
    border-bottom: 2px #000 solid;
    width: 100%;
    height: 50px;
    font-size: 2em ;
    resize: vertical;
}

input[type="text"]:focus{
    outline: none;
}

input[type="mail"]:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

input[type="button"]{
    color: #FFF;
    background-color: #000;
    height: 50px;
    width: 30%;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

input[type="button"]:hover{
    color: #000000;
    background-color: #ffffff;
    border: 1px #000 solid;
    transition: .5s;
}


@media (max-width:1000px) {
    .container__contact{
        flex-direction: column;
        gap: 40px;
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 300px;
    }
}