<%- include('./partials/headerStart.ejs', { titlePage: 'Create Class' }) %>
<!-- Agrega esto en la sección head de tu HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

<h1>New Class</h1>

<div>
    <a href="/calendar">
        <i class="fa-solid fa-arrow-left" style="color: #f5f5fa;"></i>
    </a>
</div>

<div>
    <form action="/confirmCreateClass" id="formClass" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" min="3" max="40" value="">

        <label for="description">Description:</label>
        <br>
        <textarea id="description" name="description" cols="50" rows="4" maxlength="140" style="resize: none;" value=""></textarea>
        <br>
        
        <select name="day" id="day">
            <option disabled selected value="">Week day</option>
            <% for(let i = 0; i < weekDay.length; i++) {%>
                <option value="<%- weekDay[i] %>">
                    <%- weekDay[i] %>
                </option>
            <% } %>
        </select>
        <br>

        <label for="time_start">Time start:</label>
        <input type="time" id="time_start" name="time_start">
        
        <label for="time_finish">Time finish:</label>
        <input type="time" id="time_finish" name="time_finish">

        <label>Workshop</label>
        <br>
        
        <label for="workshopOptionTrue">Yes</label>
        <input type="radio" id="workshopOptionTrue" value="true" name="workshop">

        <label for="workshopOptionFalse">No</label>
        <input type="radio" id="workshopOptionFalse" value="false" name="workshop" checked>

        <button type="submit" name="submitButton" value="createClass">Create</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>