<%- include('./partials/header.ejs', { titlePage: 'An error has occurred' }) %>

<div>
    <a href="/">
        <i class="fa-solid fa-arrow-left" style="color: #0c0c0f;"> Back</i>
    </a>
</div>

<h1>¡An error has occurred!</h1>

<%- include('./partials/footer.ejs') %>