.container__milonga{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.container__image-milonga{
    width: 100%;
    height: 100%;
    padding: 40px 0px 40px 0px;
}

.image__milonga{
    width: 100%;
    height: 100%;
}

.container__milongas{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 100px;
}

.milong{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}

.milonga__title-3{
    color: #000;
    font-size: 3.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 40px 0px 20px;
    text-transform: uppercase;
}

.container__info-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px 100px;
    width: 45%;
}

.container__block-3{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    width: 60ch;
    color: #000;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 40px 0px 50px;
}

.description__block-3{
    color: #000;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.horario__block-3{
    width: 100%;
}

.table__block-3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.tr-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

@media (max-width: 550px) {
    .container__info-3{
        flex-direction: column;
        gap: 50px;
    }

    .container__block-3{
        width: 100%;
    }
}

@media (max-width:700px) {

    .container__milonga{
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .milonga__title-3{
        color: #000;
        font-size: 10vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        padding: 10px 0px 10px;
    }

    .description__block-3{
        color: #000;
        font-size: 4vw;
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        text-align: center;
    }
    
    .tr-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-size: 4vw;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
    }
}

@media (max-width:1000px) {
    .milong {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .container__milongas{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .container__info-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 0px 20px;
        width: 100%;
    }
    
    .container__block-3{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 40px;
        width: 60ch;
        color: #000;
        font-size: 2vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
        padding: 40px 0px 50px;
    }
}